@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', serif;
}

.sm-icon {
  @apply flex justify-center items-center text-gray-900 bg-white rounded-full shadow;
}

.menu-item {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

.sidemenu-item {
  @apply flex items-center px-4 py-2 text-gray-600  rounded-full hover:bg-gray-100;
}

.sidemenu-item-active {
  @apply flex items-center px-4 py-2 text-gray-600  rounded-full bg-blue-100;
}

.contact-list-item {
  @apply text-gray-900 hover:bg-gray-100 cursor-pointer;
}

.contact-list-item-th {
  @apply py-3 px-6;
}

.contact-list-item-td {
  @apply py-4 px-6;
}

/* The hack for Safari */
.h-screen {
  height: 100vh;
  height: -webkit-fill-available;
}
.min-h-screen {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.max-h-screen {
  max-height: 100vh;
  max-height: -webkit-fill-available;
}

/* Typography */
.h1 {
  @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
  @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
  @apply text-3xl font-bold leading-tight;
}

.h4 {
  @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
  .h1 {
      @apply text-5xl;
  }

  .h2 {
      @apply text-4xl;
  }
}

/* Buttons */
.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3 shadow-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply pl-10 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-gray-800 rounded-sm;
}